
{% extends 'dashboard/base.html' %}

{% load static %}

{% block content %}
  <div class="dashboard-main-body">

    <div class="d-flex flex-wrap align-items-center justify-content-between gap-3 mb-24">
  <h6 class="fw-semibold mb-0">Badges</h6>
  <ul class="d-flex align-items-center gap-2">
    <li class="fw-medium">
      <a href="{%  url 'dashboard' %}" class="d-flex align-items-center gap-1 hover-text-primary">
        <iconify-icon icon="solar:home-smile-angle-outline" class="icon text-lg"></iconify-icon>
        Dashboard
      </a>
    </li>
    <li>-</li>
    <li class="fw-medium">Components / Badges</li>
  </ul>
</div>

    <div class="row gy-4">
        <div class="col-md-6">
            <div class="card h-100 p-0">
                <div class="card-header border-bottom bg-base py-16 px-24">
                  <h6 class="text-lg fw-semibold mb-0">Default Badges</h6>
                </div>
                <div class="card-body p-24">
                    <div class="d-flex flex-wrap align-items-center gap-3">
                        <span class="badge text-sm fw-semibold bg-primary-600 px-20 py-9 radius-4 text-white">Primary</span>
                        <span class="badge text-sm fw-semibold bg-lilac-600 px-20 py-9 radius-4 text-white">Secondary</span>
                        <span class="badge text-sm fw-semibold bg-success-600 px-20 py-9 radius-4 text-white">Success</span>
                        <span class="badge text-sm fw-semibold bg-info-600 px-20 py-9 radius-4 text-white">Info</span>
                        <span class="badge text-sm fw-semibold bg-warning-600 px-20 py-9 radius-4 text-white">Warning</span>
                        <span class="badge text-sm fw-semibold bg-danger-600 px-20 py-9 radius-4 text-white">Danger</span>
                        <span class="badge text-sm fw-semibold bg-neutral-800 px-20 py-9 radius-4 text-base">Dark</span>
                        <span class="badge text-sm fw-semibold bg-transparent px-20 py-9 radius-4 text-primary-600">Link</span>
                        <span class="badge text-sm fw-semibold bg-light-600 px-20 py-9 radius-4 text-dark">Light</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card h-100 p-0">
                <div class="card-header border-bottom bg-base py-16 px-24">
                  <h6 class="text-lg fw-semibold mb-0">Outline Badges</h6>
                </div>
                <div class="card-body p-24">
                    <div class="d-flex flex-wrap align-items-center gap-3">
                        <span class="badge text-sm fw-semibold border border-primary-600 text-primary-600 bg-transparent px-20 py-9 radius-4 text-white">Primary</span>
                        <span class="badge text-sm fw-semibold border border-lilac-600 text-lilac-600 bg-transparent px-20 py-9 radius-4 text-white">Secondary</span>
                        <span class="badge text-sm fw-semibold border border-success-600 text-success-600 bg-transparent px-20 py-9 radius-4 text-white">Success</span>
                        <span class="badge text-sm fw-semibold border border-info-600 text-info-600 bg-transparent px-20 py-9 radius-4 text-white">Info</span>
                        <span class="badge text-sm fw-semibold border border-warning-600 text-warning-600 bg-transparent px-20 py-9 radius-4 text-white">Warning</span>
                        <span class="badge text-sm fw-semibold border border-danger-600 text-danger-600 bg-transparent px-20 py-9 radius-4 text-white">Danger</span>
                        <span class="badge text-sm fw-semibold border border-neutral-800 text-neutral-800 bg-transparent px-20 py-9 radius-4 text-white">Dark</span>
                        <span class="badge text-sm fw-semibold bg-transparent px-20 py-9 radius-4 text-primary-600">Link</span>
                        <span class="badge text-sm fw-semibold border border bg-transparent px-20 py-9 radius-4 text-secondary-light">Light</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card h-100 p-0">
                <div class="card-header border-bottom bg-base py-16 px-24">
                  <h6 class="text-lg fw-semibold mb-0">Soft Badges</h6>
                </div>
                <div class="card-body p-24">
                    <div class="d-flex flex-wrap align-items-center gap-3">
                        <span class="badge text-sm fw-semibold text-primary-600 bg-primary-100 px-20 py-9 radius-4 text-white">Primary</span>
                        <span class="badge text-sm fw-semibold text-lilac-600 bg-lilac-100 px-20 py-9 radius-4 text-white">Secondary</span>
                        <span class="badge text-sm fw-semibold text-success-600 bg-success-100 px-20 py-9 radius-4 text-white">Success</span>
                        <span class="badge text-sm fw-semibold text-info-600 bg-info-100 px-20 py-9 radius-4 text-white">Info</span>
                        <span class="badge text-sm fw-semibold text-warning-600 bg-warning-100 px-20 py-9 radius-4 text-white">Warning</span>
                        <span class="badge text-sm fw-semibold text-danger-600 bg-danger-100 px-20 py-9 radius-4 text-white">Danger</span>
                        <span class="badge text-sm fw-semibold text-neutral-800 bg-neutral-300 px-20 py-9 radius-4 text-white">Dark</span>
                        <span class="badge text-sm fw-semibold bg-transparent px-20 py-9 radius-4 text-primary-600">Link</span>
                        <span class="badge text-sm fw-semibold bg-light-100 px-20 py-9 radius-4 text-secondary-light">Light</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card h-100 p-0">
                <div class="card-header border-bottom bg-base py-16 px-24">
                  <h6 class="text-lg fw-semibold mb-0">Default Badges</h6>
                </div>
                <div class="card-body p-24">
                    <div class="d-flex flex-wrap align-items-center gap-3">
                        <span class="badge text-sm fw-semibold rounded-pill bg-primary-600 px-20 py-9 radius-4 text-white">Primary</span>
                        <span class="badge text-sm fw-semibold rounded-pill bg-lilac-600 px-20 py-9 radius-4 text-white">Secondary</span>
                        <span class="badge text-sm fw-semibold rounded-pill bg-success-600 px-20 py-9 radius-4 text-white">Success</span>
                        <span class="badge text-sm fw-semibold rounded-pill bg-info-600 px-20 py-9 radius-4 text-white">Info</span>
                        <span class="badge text-sm fw-semibold rounded-pill bg-warning-600 px-20 py-9 radius-4 text-white">Warning</span>
                        <span class="badge text-sm fw-semibold rounded-pill bg-danger-600 px-20 py-9 radius-4 text-white">Danger</span>
                        <span class="badge text-sm fw-semibold rounded-pill bg-neutral-800 px-20 py-9 radius-4 text-base">Dark</span>
                        <span class="badge text-sm fw-semibold rounded-pill bg-transparent px-20 py-9 radius-4 text-primary-600">Link</span>
                        <span class="badge text-sm fw-semibold rounded-pill bg-light-600 px-20 py-9 radius-4 text-dark">Light</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card h-100 p-0">
                <div class="card-header border-bottom bg-base py-16 px-24">
                  <h6 class="text-lg fw-semibold mb-0">Gradient Badges</h6>
                </div>
                <div class="card-body p-24">
                    <div class="d-flex flex-wrap align-items-center gap-3">
                        <span class="badge text-sm fw-semibold bg-dark-primary-gradient px-20 py-9 radius-4 text-white">Primary</span>
                        <span class="badge text-sm fw-semibold bg-dark-lilac-gradient px-20 py-9 radius-4 text-white">Secondary</span>
                        <span class="badge text-sm fw-semibold bg-dark-success-gradient px-20 py-9 radius-4 text-white">Success</span>
                        <span class="badge text-sm fw-semibold bg-dark-info-gradient px-20 py-9 radius-4 text-white">Info</span>
                        <span class="badge text-sm fw-semibold bg-dark-warning-gradient px-20 py-9 radius-4 text-white">Warning</span>
                        <span class="badge text-sm fw-semibold bg-dark-danger-gradient px-20 py-9 radius-4 text-white">Danger</span>
                        <span class="badge text-sm fw-semibold bg-dark-dark-gradient px-20 py-9 radius-4 text-white">Dark</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card h-100 p-0">
                <div class="card-header border-bottom bg-base py-16 px-24">
                  <h6 class="text-lg fw-semibold mb-0">Badges With Button</h6>
                </div>
                <div class="card-body p-24">
                    <div class="d-flex flex-wrap align-items-center gap-3">
                        <button type="button" class="badge text-sm fw-semibold bg-primary-600 px-16 py-9 radius-4 text-white d-flex align-items-center gap-2">
                            Primary
                            <span class="badge bg-white text-dark radius-5 text-xs">4</span>
                        </button>
                        <button type="button" class="badge text-sm fw-semibold bg-lilac-600 px-16 py-9 radius-4 text-white d-flex align-items-center gap-2">
                            Secondary
                            <span class="badge bg-white text-dark radius-5 text-xs">4</span>
                        </button>
                        <button type="button" class="badge text-sm fw-semibold bg-success-600 px-16 py-9 radius-4 text-white d-flex align-items-center gap-2">
                            Success
                            <span class="badge bg-white text-dark radius-5 text-xs">4</span>
                        </button>
                        <button type="button" class="badge text-sm fw-semibold bg-info-600 px-20 16-9 radius-4 text-white d-flex align-items-center gap-2">
                            Info
                            <span class="badge bg-white text-dark radius-5 text-xs">4</span>
                        </button>
                        <button type="button" class="badge text-sm fw-semibold bg-warning-600 px-16 py-9 radius-4 text-white d-flex align-items-center gap-2">
                            Warning
                            <span class="badge bg-white text-dark radius-5 text-xs">4</span>
                        </button>
                        <button type="button" class="badge text-sm fw-semibold bg-danger-600 px-16 py-9 radius-4 text-white d-flex align-items-center gap-2">
                            Danger
                            <span class="badge bg-white text-dark radius-5 text-xs">4</span>
                        </button>
                        <button type="button" class="badge text-sm fw-semibold bg-neutral-800 px-16 py-9 radius-4 text-base d-flex align-items-center gap-2">
                            Dark
                            <span class="badge bg-white text-dark radius-5 text-xs">4</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card h-100 p-0">
                <div class="card-header border-bottom bg-base py-16 px-24">
                  <h6 class="text-lg fw-semibold mb-0">Default Badges</h6>
                </div>
                <div class="card-body p-24">
                    <div class="d-flex flex-wrap align-items-center gap-3">
                        <span class="badge text-sm fw-semibold w-32-px h-32-px d-flex justify-content-center align-items-center rounded-circle bg-primary-600  text-white">1</span>
                        <span class="badge text-sm fw-semibold w-32-px h-32-px d-flex justify-content-center align-items-center rounded-circle bg-lilac-600  text-white">2</span>
                        <span class="badge text-sm fw-semibold w-32-px h-32-px d-flex justify-content-center align-items-center rounded-circle bg-success-600  text-white">3</span>
                        <span class="badge text-sm fw-semibold w-32-px h-32-px d-flex justify-content-center align-items-center rounded-circle bg-warning-600  text-white">4</span>
                        <span class="badge text-sm fw-semibold w-32-px h-32-px d-flex justify-content-center align-items-center rounded-circle bg-danger-600  text-white">5</span>

                        <span class="badge text-sm fw-semibold w-32-px h-32-px d-flex justify-content-center align-items-center rounded-circle text-primary-600 bg-primary-50 radius-4 text-white">1</span>
                        <span class="badge text-sm fw-semibold w-32-px h-32-px d-flex justify-content-center align-items-center rounded-circle text-lilac-600 bg-lilac-100 radius-4 text-white">2</span>
                        <span class="badge text-sm fw-semibold w-32-px h-32-px d-flex justify-content-center align-items-center rounded-circle text-success-600 bg-success-100 radius-4 text-white">3</span>
                        <span class="badge text-sm fw-semibold w-32-px h-32-px d-flex justify-content-center align-items-center rounded-circle text-warning-600 bg-warning-100 radius-4 text-white">4</span>
                        <span class="badge text-sm fw-semibold w-32-px h-32-px d-flex justify-content-center align-items-center rounded-circle text-danger-600 bg-danger-100 radius-4 text-white">5</span>

                        <span class="badge text-sm fw-semibold w-32-px h-32-px d-flex justify-content-center align-items-center rounded-circle border border-primary-600 text-primary-600 radius-4 text-white">1</span>
                        <span class="badge text-sm fw-semibold w-32-px h-32-px d-flex justify-content-center align-items-center rounded-circle border border-lilac-600 text-lilac-600 radius-4 text-white">2</span>
                        <span class="badge text-sm fw-semibold w-32-px h-32-px d-flex justify-content-center align-items-center rounded-circle border border-success-600 text-success-600 radius-4 text-white">3</span>
                        <span class="badge text-sm fw-semibold w-32-px h-32-px d-flex justify-content-center align-items-center rounded-circle border border-warning-600 text-warning-600 radius-4 text-white">4</span>
                        <span class="badge text-sm fw-semibold w-32-px h-32-px d-flex justify-content-center align-items-center rounded-circle border border-danger-600 text-danger-600 radius-4 text-white">5</span>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card h-100 p-0">
                <div class="card-header border-bottom bg-base py-16 px-24">
                  <h6 class="text-lg fw-semibold mb-0">Default Badges</h6>
                </div>
                <div class="card-body p-24">
                    <div class="d-flex flex-wrap align-items-center gap-3">
                        <span class="badge text-sm fw-semibold w-32-px h-32-px d-flex justify-content-center align-items-center radius-4 bg-primary-600  text-white">1</span>
                        <span class="badge text-sm fw-semibold w-32-px h-32-px d-flex justify-content-center align-items-center radius-4 bg-lilac-600  text-white">2</span>
                        <span class="badge text-sm fw-semibold w-32-px h-32-px d-flex justify-content-center align-items-center radius-4 bg-success-600  text-white">3</span>
                        <span class="badge text-sm fw-semibold w-32-px h-32-px d-flex justify-content-center align-items-center radius-4 bg-warning-600  text-white">4</span>
                        <span class="badge text-sm fw-semibold w-32-px h-32-px d-flex justify-content-center align-items-center radius-4 bg-danger-600  text-white">5</span>

                        <span class="badge text-sm fw-semibold w-32-px h-32-px d-flex justify-content-center align-items-center radius-4 text-primary-600 bg-primary-50 radius-4 text-white">1</span>
                        <span class="badge text-sm fw-semibold w-32-px h-32-px d-flex justify-content-center align-items-center radius-4 text-lilac-600 bg-lilac-100 radius-4 text-white">2</span>
                        <span class="badge text-sm fw-semibold w-32-px h-32-px d-flex justify-content-center align-items-center radius-4 text-success-600 bg-success-100 radius-4 text-white">3</span>
                        <span class="badge text-sm fw-semibold w-32-px h-32-px d-flex justify-content-center align-items-center radius-4 text-warning-600 bg-warning-100 radius-4 text-white">4</span>
                        <span class="badge text-sm fw-semibold w-32-px h-32-px d-flex justify-content-center align-items-center radius-4 text-danger-600 bg-danger-100 radius-4 text-white">5</span>

                        <span class="badge text-sm fw-semibold w-32-px h-32-px d-flex justify-content-center align-items-center radius-4 border border-primary-600 text-primary-600 radius-4 text-white">1</span>
                        <span class="badge text-sm fw-semibold w-32-px h-32-px d-flex justify-content-center align-items-center radius-4 border border-lilac-600 text-lilac-600 radius-4 text-white">2</span>
                        <span class="badge text-sm fw-semibold w-32-px h-32-px d-flex justify-content-center align-items-center radius-4 border border-success-600 text-success-600 radius-4 text-white">3</span>
                        <span class="badge text-sm fw-semibold w-32-px h-32-px d-flex justify-content-center align-items-center radius-4 border border-warning-600 text-warning-600 radius-4 text-white">4</span>
                        <span class="badge text-sm fw-semibold w-32-px h-32-px d-flex justify-content-center align-items-center radius-4 border border-danger-600 text-danger-600 radius-4 text-white">5</span>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card h-100 p-0">
                <div class="card-header border-bottom bg-base py-16 px-24">
                  <h6 class="text-lg fw-semibold mb-0">Default Badges</h6>
                </div>
                <div class="card-body p-24">
                    <div class="d-flex flex-wrap align-items-center gap-4">
                        <div class="d-flex flex-wrap align-items-center gap-3">
                            <button type="button" class="btn btn-primary-600 position-relative px-20 py-8 text-sm line-height-1 d-flex align-items-center">
                                Inbox
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary-600 border border-white">2</span>
                            </button>
                        </div>
                        <div class="d-flex flex-wrap align-items-center gap-3">
                            <button type="button" class="btn btn-warning-600 position-relative px-20 py-8 text-sm line-height-1 d-flex align-items-center">
                                Inbox
                                <span class="position-absolute top-0 end-0 translate-middle-y badge rounded-pill bg-danger-600">99+</span>
                            </button>
                        </div>

                        <div class="d-flex flex-wrap align-items-center gap-3">
                            <button type="button" class="position-relative">
                                <img src="{%  static 'images/lang-flag.png' %}" alt="image" class="w-32-px h-32-px object-fit-cover rounded-circle">
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger-600 border border-white">2</span>
                            </button>
                        </div>

                        <button class="position-relative rounded-circle d-flex justify-content-center align-items-center" type="button">
                            <iconify-icon icon="mage:email" class="text-primary-light text-2xxl"></iconify-icon>
                            <span class="position-absolute top-0 start-50 translate-middle-y badge rounded-pill bg-danger-600 border-0">2</span>
                        </button>

                        <button class="position-relative rounded-circle d-flex justify-content-center align-items-center" type="button">
                            <iconify-icon icon="iconoir:bell" class="text-primary-light text-2xxl"></iconify-icon>
                            <span class="position-absolute top-0 start-50 translate-middle-y badge rounded-pill bg-danger-600 border-0">2</span>
                        </button>
                        <button class="position-relative rounded-circle d-flex justify-content-center align-items-center" type="button">
                            <iconify-icon icon="iconoir:bell" class="text-primary-light text-2xxl"></iconify-icon>
                            <span class="position-absolute top-0 start-50 translate-middle-y rounded-pill bg-danger-600 border-0 w-8-px h-8-px"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card h-100 p-0">
                <div class="card-header border-bottom bg-base py-16 px-24">
                  <h6 class="text-lg fw-semibold mb-0">Badge Dots Style </h6>
                </div>
                <div class="card-body p-24">
                    <div class="d-flex flex-wrap align-items-center gap-4">
                        <div class="d-flex align-items-center gap-2">
                            <span class="w-8-px h-8-px bg-primary-600 rounded-circle"></span>
                            <span class="text-primary-600 fw-medium">Primary</span>
                        </div>
                        <div class="d-flex align-items-center gap-2">
                            <span class="w-8-px h-8-px bg-lilac-600 rounded-circle"></span>
                            <span class="text-lilac-600 fw-medium">Secondary</span>
                        </div>
                        <div class="d-flex align-items-center gap-2">
                            <span class="w-8-px h-8-px bg-success-600 rounded-circle"></span>
                            <span class="text-success-600 fw-medium">Success</span>
                        </div>
                        <div class="d-flex align-items-center gap-2">
                            <span class="w-8-px h-8-px bg-info-600 rounded-circle"></span>
                            <span class="text-info-600 fw-medium">Info</span>
                        </div>
                        <div class="d-flex align-items-center gap-2">
                            <span class="w-8-px h-8-px bg-warning-600 rounded-circle"></span>
                            <span class="text-warning-600 fw-medium">Warning</span>
                        </div>
                        <div class="d-flex align-items-center gap-2">
                            <span class="w-8-px h-8-px bg-danger-600 rounded-circle"></span>
                            <span class="text-danger-600 fw-medium">Danger</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

  </div>

  <footer class="d-footer">
  <div class="row align-items-center justify-content-between">
    <div class="col-auto">
      <p class="mb-0">© 2024 WowDash. All Rights Reserved.</p>
    </div>
    <div class="col-auto">
      <p class="mb-0">Made by <span class="text-primary-600">wowtheme7</span></p>
    </div>
  </div>
</footer>
</main>
  
  <!-- jQuery library js -->
  <script src="{%  static 'js/lib/jquery-3.7.1.min.js' %}"></script>
  <!-- Bootstrap js -->
  <script src="{%  static 'js/lib/bootstrap.bundle.min.js' %}"></script>
  <!-- Apex Chart js -->
  <!-- <script src="{%  static 'js/lib/apexcharts.min.js' %}"></script> -->
  <script src="https://cdn.js' %}delivr.net/npm/apexcharts"></script>
  <!-- Data Table js -->
  <script src="{%  static 'js/lib/dataTables.min.js' %}"></script>
  <!-- Iconify Font js -->
  <script src="{%  static 'js/lib/iconify-icon.min.js' %}"></script>
  <!-- jQuery UI js -->
  <script src="{%  static 'js/lib/jquery-ui.min.js' %}"></script>
  <!-- Vector Map js -->
  <script src="{%  static 'js/lib/jquery-jvectormap-2.0.5.min.js' %}"></script>
  <script src="{%  static 'js/lib/jquery-jvectormap-world-mill-en.js' %}"></script>
  <!-- Popup js -->
  <script src="{%  static 'js/lib/magnifc-popup.min.js' %}"></script>
  <!-- Slick Slider js -->
  <script src="{%  static 'js/lib/slick.min.js' %}"></script>
  <!-- prism js -->
  <script src="{%  static 'js/lib/prism.js' %}"></script>
  <!-- file upload js -->
  <script src="{%  static 'js/lib/file-upload.js' %}"></script>
  <!-- audioplayer -->
  <script src="{%  static 'js/lib/audioplayer.js' %}"></script>
  
  <!-- main js -->
  <script src="{%  static 'js/app.js' %}"></script>

</body>
</html>
{% endblock %}